QWidget {
   background-color: #f0f0f0;
}

QLabel#camera_label, QLabel#video_label {
   font-size: 30px;
   font-family: 'Arial', 'Cochin', Georgia, Times, 'Times New Roman';
   margin-bottom: 20px;
}

QLabel#add_camera_label, QLabel#process_description_label {
   margin-bottom: 50px;
}

QPushButton#add_camera_button, QPushButton#start_process_button {
   padding: 10px 30px;
}